.align{
	text-align: center;
}
nav{
	margin-bottom: 3%;
}
.margin{
	text-decoration: none;
	margin: 3%;
	color: #D9D7D7;
}
.caja{
	margin-top: 5%;
	margin-left:35%;
	background-color: 
}
.back2{
	background-image: url(../img/cubes.png);
	height: 370px;
}
.imagen{
	width: 20%;
}
.div{
	float: left;
}
span{
	float: left;
}
.inp1{
	height: 40px;
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
}
.inp2{
	height: 40px;
}
.inp3{
	height: 120px;
}
.in{
	position: relative;
	width: 500px;
	margin-top: 2%;
}
.image_buscar{
	width: 2%;
	width: 20px;
	border: 0px;
	position: relative;
	top:1px;
}
input.search {
	border: 0px;
	width: 240px;
	position: relative;
	background: transparent;
	outline: none;
	bottom: 4px;
	padding: 2px;
}
footer{
	background-color:#192951; 
	padding: 1% 0% 0.5% 2%;
	margin-top: 4%;
	color:#D9D7D7; 
}
.caja4{
	background-image: url(../img/shoes_!.jpg);
	background-repeat: no-repeat;
	background-position: 90% -5%;
	height: 530px;
}
.contac{
	margin-left: 10%;
	margin-top: 5%;
	}
.po2{
	padding: 2% 11% 2% 11%;
	background-color: #192951;
	text-align: center;
	color: #9195AA;
	margin-top: 30px;
	color: #D9D7D7;
	width: 280px;
}
.po3{
    text-decoration: none;
    color: #807783;
    padding: 2% 11% 2% 11%;
	background-color: #192951;
}