.align{
	text-align: center;
}
nav{
	margin-bottom: 3%;
}
.margin{
	text-decoration: none;
	margin: 3%;
	color: #D9D7D7;
}
.margin4{
	text-decoration: none;
	margin: 3%;
	color: #333333;
}
.caja{
	margin-top: 5%;
	margin-left:35%;
	background-color: 
}
.back{
	background-image: url(../img/textura_2.jpg);
	margin-top: 1%;
	padding-bottom: 5px;
	padding-top: 5%;
}
.nombre{
	border: solid 1px #bbb;
	width: 45%;
	margin: 2%;
	padding: 0.5%;
}
.mensaje{
	position: absolute;
	margin: 0.5% 0 0 2.5%;
}
.colo{
	color: black;
	font-size: 20px;
}
input.search {
	border: 0px;
	width: 240px;
	position: relative;
	background: transparent;
	outline: none;
	bottom: 4px;
	padding: 2px;
}
.po2{
	padding: 2% 11% 2% 11%;
	background-color: #192951;
	text-align: center;
	color: #9195AA;
	margin-top: 30px;
	color: #D9D7D7;
	width: 260px;
	margin-left: 2%;
}
.po3{
    text-decoration: none;
    color: #807783;
    padding: 2% 11% 2% 11%;
	background-color: #192951;
}
.contac{
	margin-left: 10%;
	margin-top: 5%;
	}
.caja3{
	margin-left: 7%;
	margin-bottom: 3%;
}
.caja4{
	background-image: url(../img/shoes_!.jpg);
	background-repeat: no-repeat;
	background-position: 90% -5%;
	height: 530px;
}
footer{
	background-color:#192951; 
	padding: 1% 0% 0.5% 2%;
	margin-top: 4%;
	color:#D9D7D7; 
}
.espac{
	margin: 0% 2% 2% 3%;
}
.medio{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 6% 30%;
	padding: 3px; 
	margin-bottom: 100px;
	width: 85%;
	height: 100px;
	margin-left: 7%;
	margin-top: 50%;
}
h2 , p{
	color: white;
	font-size: 14px;
}
.imagena{
	background-size: cover;
    zoom:1.3;
    background-position: center;
}


.imagen{
	background-image: url(../img/dance_12.jpg);
	height: 370px;
}
.imagen2{
	background-image: url(../img/breakdance.jpg);
	height: 370px;
}
.imagen3{
	background-image: url(../img/lirical-jazz.jpg);
	height: 370px;
}
.imagen4{
	background-image: url(../img/arabe.jpg);
	height: 370px;
}
.imagen5{
	background-image: url(../img/little.jpg);
	height: 370px;
}
.imagen6{
	background-image: url(../img/yoga.jpg);
	height: 370px;
}
